
.seat {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 40px; /* Fixed width for seat buttons */
    text-align: center;
}

.seat.selected {
    background-color: #28a745;
}

.seat:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.booking-summary {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#book-now {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#book-now:hover {
    background-color: #0056b3;
}